@charset "UTF-8";
/**
 * author: Sheng JIANG
 * date: 2017-10-18
 */

//<editor-fold desc="elements">
body {
  color: #333333;
  font-family: "Helvetica Neue", "Arial", "PingFang SC", "Microsoft Yahei", "SimSun", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

//</editor-fold>

.everything {
  line-height: 20px;
  font-size: 14px;
  color: #666;
}

//<editor-fold desc="header">
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  height: 200px;
  line-height: 48px;
  .logo {
    background-image: url(../img/hosts/logo.png);
    width: 48px;
    height: 48px;
    margin-right: 20px;
  }
  h1 {
    font-size: 38px;
  }
}

.download {
  padding: 20px 0 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 150px;
  width: 280px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #fff;
    width: 100%;
    background-color: #00c1de;
    height: 60px;
    border-radius: 50px;
    &:hover {
      background-color: #3dafd9;
    }
  }
  .info {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 12px;
    width: 80%;
    justify-content: space-between;
  }
}

.platform {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .logo {
    width: 120px;
    height: 120px;
  }
  .windows {
    .logo {
      background-image: url(../img/hosts/windows.png);
    }
  }
  .mac-os {
    .logo {
      background-image: url(../img/hosts/mac-os.png);
    }
  }
  h3,
  p {
    line-height: 40px;
  }
  h3 {
    font-size: 24px;
  }
  p {
  }
}

//</editor-fold>

//<editor-fold desc="guide">
.guide {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  counter-reset: sectioncounter;

  section {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    .left,
    .right {
      width: 50%;
    }
    h2 {
      position: relative;
      &:before {
        left: 30px;
        top: -5px;
        position: absolute;
        content: counter(sectioncounter) ".";
        counter-increment: sectioncounter;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background-color: #cccccc;
        line-height: 32px;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
      }
      font-size: 14px;
      padding: 0 70px;
      color: #333;
    }
    p {
      padding: 0 70px;
    }
    em {
      color: #fff;
      background-color: #3dafd9;
      padding: 0 2px;
      border-radius: 2px;
      font-style: normal;
    }
    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .right {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .extensions {
    .pic {
      background-image: url(../img/hosts/addr.png);
      width: 500px;
      height: 119px;
    }
  }

  .add {
    .pic {
      background-image: url(../img/hosts/add.png);
      width: 368px;
      height: 210px;
    }
  }

  .launch {
    .pic {
      background-image: url(../img/hosts/launch.png);
      width: 225px;
      height: 125px;
    }
  }
}

//</editor-fold>

//<editor-fold desc="screen">
.screen {
  background-color: #fff;
  margin: 50px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .window {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  img {
    max-width: 100%;
  }
}

//</editor-fold>
//<editor-fold desc="footer">
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  p {
    line-height: 40px;
    em {
      margin-right: 40px;
      font-style: normal;
    }
  }
}

//</editor-fold>

@media (max-width: 1000px) {
  .platform {
    width: 100%;
    li {
      width: 100%;
    }
  }
  .guide {
    section {
      width: 100%;
      display: flex;
      align-items: center;
      h2,
      p {
        max-width: 90%;
        margin: 0 5px 0 40px;
        padding: 0;
      }
      h2 {
        &:before {
          left: -35px;
        }
      }
      .left {
        width: 100%;
        margin-bottom: 10px;
      }
      .right {
        width: 100%;
        img {
          max-width: 90%;
        }
      }
    }
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* 当设备像素比不小于1.5的时候... */

  .logo-wrap {
    .logo {
      background-image: url(../img/hosts/logo@2x.png);
      background-size: cover;
    }
  }

  .platform {
    .windows {
      .logo {
        background-size: cover;
        background-image: url(../img/hosts/windows@2x.png);
      }
    }
    .mac-os {
      .logo {
        background-size: cover;
        background-image: url(../img/hosts/mac-os@2x.png);
      }
    }
  }

  .guide {
    .extensions {
      .pic {
        background-image: url(../img/hosts/addr@2x.png);
        background-size: cover;
      }
    }

    .add {
      .pic {
        background-image: url(../img/hosts/add@2x.png);
        background-size: cover;
      }
    }

    .launch {
      .pic {
        background-image: url(../img/hosts/launch@2x.png);
        background-size: cover;
      }
    }
  }
}
