@charset "UTF-8";
/**
 * author: Sheng JIANG
 * date: 2017-09-28
 */
body {
  color: #333333;
  background-color: #f5f5f5;
  font-family: "Helvetica Neue", "Arial", "PingFang SC", "Microsoft Yahei", "SimSun", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.navigation {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 71px;
  padding: 43px 130px 0 130px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  .logo {
    width: 200px;
    font-size: 16px;
  }
  .menu {
    font-size: 14px;
    display: flex;
    justify-content: center;
    li {
      margin: 0 10px;
    }
    a {
      line-height: 28px;
      display: block;
      padding: 0 10px;
      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
  .operation {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.5);
      width: 80px;
      height: 20px;
      box-sizing: border-box;
      cursor: pointer;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        background-color: #fff;
        color: #333333;
      }
    }
    .btn-border {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}

.banner {
  background-image: url(../img/management/banner.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: #3b3d40;
  }
  .content {
    position: relative;
    padding: 270px 0;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 35px;
    background-image: url(../img/management/logo.svg);
  }
  h1 {
    max-width: 90%;
    font-size: 52px;
    line-height: 56px;
    margin-bottom: 25px;
  }
  h2 {
    max-width: 90%;
    font-size: 24px;
    line-height: 26px;
    opacity: 0.7;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  .content {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-size: 52px;
    line-height: 56px;
    margin-bottom: 60px;
  }
  h3 {
    font-size: 24px;
    line-height: 26px;
    color: #666666;
    margin-bottom: 60px;
  }
  .section {
    max-width: 1100px;
    color: #656b6f;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    display: flex;
    margin-bottom: 75px;
    p {
      width: 50%;
      margin: 0 50px;
    }
  }
  .btn-group {
    display: flex;
    justify-content: center;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    border-radius: 22px;
    background-color: rgb(46, 113, 242);
    width: 162px;
    height: 45px;
  }
}

.team {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  h2 {
    max-width: 90%;
    font-size: 52px;
    line-height: 56px;
    margin-bottom: 60px;
  }
  h3 {
    width: 400px;
    max-width: 90%;
    font-size: 24px;
    line-height: 26px;
    color: #666666;
    margin-bottom: 60px;
  }
  .list {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
    li {
      margin: 0 30px 40px 30px;
    }
    img {
      width: 125px;
      height: 125px;
      border-radius: 50%;
      //box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    p {
      margin-top: 20px;
    }
  }
}

.slide {
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    max-width: 90%;
    font-size: 52px;
    line-height: 56px;
    margin-bottom: 30px;
  }
  p {
    width: 600px;
    max-width: 90%;
    font-size: 20px;
    line-height: 30px;
    color: #656b6f;
    margin-bottom: 30px;
  }
  img {
    max-width: 1058px;
    width: 100%;
  }
}

.slide-light {
  background-color: #f9f9f9;

}

.slide-agile {
  background-color: #ffffff;

}

.slide-sheet {
  background-color: #f9f9f9;

}

.guide {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #48494b;
  color: #fff;
  h2 {
    max-width: 90%;
    font-size: 52px;
    line-height: 56px;
    margin-bottom: 110px;
  }
  .play {
    width: 150px;
    height: 150px;
    background-image: url(../img/management/triangle.svg);
    background-color: #2e71f2;
    border-radius: 50%;
    margin-bottom: 50px;
  }
  p {
    width: 525px;
    max-width: 90%;
    font-size: 24px;
    line-height: 36px;
  }
}

.custom {
  background-image: url(../img/management/custom.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  h2 {
    max-width: 90%;
    font-size: 52px;
    line-height: 56px;
    margin-bottom: 40px;
  }
  h3 {
    max-width: 90%;
    font-size: 24px;
    line-height: 36px;
    opacity: 0.7;
    margin-bottom: 60px;
  }
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(59, 61, 64, 0.5);
  }
  .content {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .form {
    //background-color: rgba(255, 255, 255, 0.15);
    //width: 550px;
    width: 165px;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 45px;
    input {
      color: #fff;
      padding: 0 15px;
      box-sizing: border-box;
      width: 100px;
      flex-grow: 1;
      background-color: transparent;
      border-radius: 22.5px 0 0 22.5px;
      border: 2px solid transparent;
      &:focus {
        outline: none;
        border-color: rgb(46, 113, 242);
      }
    }
    .btn {
      cursor: pointer;
      //border-radius: 0 22.5px 22.5px 0;
      border-radius: 22.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      background-color: rgb(46, 113, 242);
      width: 165px;
      height: 45px;
    }

  }
}

.footer {
  font-size: 16px;
  color: #fff;
  background-color: #3b3d40;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  p {
    color: rgba(255,255,255,0.3);
    margin: 10px 0;
  }
  .copyright {
    align-self: flex-end;
    a {
      color: rgba(255,255,255,0.5);
      &:hover{
        border-bottom: 1px solid rgba(255,255,255,0.5);
      }
    }
  }
}

.btn-enter {
  transition: all 200ms;
  &:hover {
    transform: translate(0, -5px);
    box-shadow: 2px 2px 5px rgba(0, 87, 255, 0.5);
  }
}

@media (max-width: 1400px) {
  .team {
    .list {
      width: 70%;
    }
  }
}

@media (max-width: 800px) {
  .navigation {
    justify-content: center;
    padding: 43px 0 0 0;
    .logo {
      text-align: center;
      margin-bottom: 10px;
    }
    .menu {
      margin-bottom: 10px;
      li {
        margin: 0;
      }
    }
    .operation {
      display: flex;
      justify-content: center;
    }
  }
  .home {
    .content {
      width: 90%;
    }
    .section {
      flex-wrap: wrap;
      p {
        width: 90%;
        margin: 0 auto 20px auto;
      }
    }
  }
  .team {
    .list {
      width: 90%;
      li {
        p {
          margin-top: 10px;
        }
        margin-bottom: 40px;
      }
    }
  }
  .custom {
    .form {
      flex-direction: column;
      width: 90%;
      border-radius: 22.5px;
      input {
        width: 100%;
        height: 45px;
        border-radius: 22.5px 22.5px 0 0;
      }
      .btn {
        //border-radius: 0 0 22.5px 22.5px;
        width: 100%;
      }
    }
  }
  .footer {
    flex-direction: column;
    .copyright {
      align-self: auto;
    }
  }
}
