@charset "UTF-8";
/**
 * author: Sheng JIANG
 * date: 2017-09-07
 */

$img: url(../img/nav.png);
$imgSize: 400px;

body {
  color: #333333;
  font-family: "Helvetica Neue", "Arial", "PingFang SC", "Microsoft Yahei", "SimSun", sans-serif;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
}

p {
  font-size: 16px;
  color: #666666;
}

a {
  text-decoration: none;
  color: inherit;
}

.everything {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
}

//<editor-fold desc="top">
#top {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:1400px;
  a {
    opacity: 0.8;
    transition: opacity 500ms, width 800ms;
    &:hover {
      opacity: 1;
    }
  }
  .logo {
    color: #444444;
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background-image: $img;
    background-size: $imgSize;
    background-position: 0 0;
    &:hover {
      width: 300px;
    }
  }
  .feedback {
    width: 35px;
    height: 35px;
    background-image: $img;
    background-size: $imgSize;
    background-position: 0 -60px;
  }
}

//</editor-fold>

#logo {
  width: 100%;
  height: 100px;
  h1 {
    color: #484848;
    font-size: 32px;
    font-weight: lighter;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

#banner {
  background-image: url(../img/banner.jpg);
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 96%;
  height: 450px;
  border-radius: 8px 8px 0 0;
  max-width:1400px;
}

.header {
  text-align: center;
  margin: 50px 0 20px 0;
}

.header h2 {
  font-size: 30px;
  font-weight: 500;
  color: #6B7386;
}

.main {
  width: 96%;
  max-width: 1400px;
  margin: 0px 0 0px 0;
  padding-top: 40px;
  background: #fff;
}

.section {
  margin:0 20px;
  h2 {
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    font-size: 20px;
    color: #666;
    font-weight: 300;
    margin:0 0 0 30px;
  }
}

.list {
  padding: 10px 0 0 0;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 40px;
}

.item {
  display: flex;
  background: #fff;
  border-radius: 6px;
  color: #333;
  padding: 20px;
  /*box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, .1), 0px 1px 2px rgba(0, 0, 0, .05);*/
  box-shadow: 0px 2px 8px 0px rgba(50, 86, 123, .16);
  width: calc(100% / 3 - 80px);
  margin: 0 0px 20px 30px;
  transition: transform 100ms;
  .icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    img {
      border-radius: 4px;
      display: inline-block;
      vertical-align: top;
      width: 40px;
      height: 40px;
    }
  }
  .content {
    color: #2299ee;
    font-size: 0;
    line-height: 20px;
    .title {
      font-size: 15px;
      display: inline;
    }
  }
  .description {
    color: #6B7386;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 2px;
  }
  &:hover {
    box-shadow: 0 4px 20px 0 rgba(168, 182, 191, .6);
  }
  .tags {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    .tag {
      border-radius: 2px;
      margin-left: 12px;
      margin-top: 8px;
      height: 28px;
      line-height: 28px;
      &.text {
        padding: 0 12px;
        background-color: rgba(137, 149, 199, 0.1);
        color: #8995c7;
      }
      &.image {
        overflow: hidden;
        width: 28px;
        background-size: cover;
        box-shadow: 0 2px 6px 0 rgba(112, 128, 175, 0.2);
      }
    }
  }
}

.tag-vue {
  background-image: url(../img/tags/vue.png);
}

.tag-sass {
  background-image: url(../img/tags/sass.png);
}

.tag-webpack {
  background-image: url(../img/tags/webpack.png);
}

.tag-babel {
  background-image: url(../img/tags/babel.png);
}

.tag-electron {
  background-image: url(../img/tags/electron.png);
}

.tag-jquery {
  background-image: url(../img/tags/jquery.png);
}

.tag-echarts {
  background-image: url(../img/tags/echarts.png);
}

.tag-swiper {
  background-image: url(../img/tags/swiper.png);
}

.tag-nodejs {
  background-image: url(../img/tags/nodejs.png);
}

.tag-express {
  background-image: url(../img/tags/express.png);
}

.tag-uglifyjs {
  background-image: url(../img/tags/uglifyjs.png);
}

.tag-php {
  background-image: url(../img/tags/php.png);
}

.tag-mysql {
  background-image: url(../img/tags/mysql.png);
}

.tag-canvas {
  background-image: url(../img/tags/canvas.png);
}

.tag-gulp {
  background-image: url(../img/tags/gulp.png);
}

.tag-mocha {
  background-image: url(../img/tags/mocha.png);
}

.tag-koa {
  background-image: url(../img/tags/koa.png);
}

.tag-redis {
  background-image: url(../img/tags/redis.png);
}

.tag-inception {
  background-image: url(../img/tags/inception.png);
}

.tag-html5 {
  background-image: url(../img/tags/html5.png);
}

.tag-css3 {
  background-image: url(../img/tags/css3.png);
}

.tag-es6 {
  background-image: url(../img/tags/es6.png);
}

.tag-wechat {
  background-image: url(../img/tags/wechat.png);
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#666;
  font-size:12px;
  padding:20px 0;
}

@media (max-width: 1600px) {
  .item {
    width: calc(100% / 3 - 80px);
  }
}

/* Minimum width */
@media (max-width: 1200px) {
  .main,
  .share,
  .footer{
    width: 96%;
  }
  .item {
    width: calc(100% / 2 - 80px);
  }
}

@media (max-width: 800px) {
  .main,
  .share,
  .footer
   {
    width: 96%;
  }
  .item {
    width: calc(100% / 1 - 80px);
  }
}

.header .logo-bg {
  transform: rotate(75deg) translate3d(0, 0, 0);
  background-image: linear-gradient(#2DC8F3 0, #1497E2 70%);
  border-radius: 6px;
  position: absolute;
  left: -150px;
  top: -180px;
  width: 350px;
  height: 350px;
  z-index: 0;
}

.logo-i {
  color: #ff5301;
  font-size: 30px;
  font-weight: 700;
}

.explanation {
  display: flex;
  flex-wrap: wrap;
  color: #999;
  font-size:12px;
  position: relative;
  padding:0 50px 0 50px;
  margin:15px 0 50px;
  box-sizing: border-box;
  width:96%;
  p {
    vertical-align: top;
    font-size:12px;
    display: inline-block;
    margin: 8px 0px;
    line-height: 20px;
  }
  a {
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    line-height: 36px;
    text-decoration: none;
    color: #666;
    padding:0 0px 0 12px;
    i {
      display: block;
      width: 14px;
      height: 14px;
      background-image: url(../img/nav.png);
      background-position: -40px -60px;
    }
    &:hover {
      opacity: 0.8;
      position: relative;
      .qr-code {
        display: block;
      }
    }
  }
  .qr-code {
    display: none;
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 30px;
    left: 13px;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(3, 3, 3, .2);
    background-image: url(../img/qr-code.png);
    background-size: cover;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* 当设备像素比不小于1.5的时候... */

  #banner {
    background-image: url(../img/banner@2x.jpg);
  }

  .explanation {
    a {
      i {
        background-size: $imgSize;
        background-image: url(../img/nav@2x.png);
      }
    }
    .qr-code {
      background-image: url(../img/qr-code@2x.png);
    }
  }

  #top {
    .logo{
      background-size: $imgSize;
      background-image: url(../img/nav@2x.png);
    }
    .feedback{background-size: $imgSize;
      background-image: url(../img/nav@2x.png);
    }
  }

}
