@charset "UTF-8";
/**
 * author: Sheng JIANG
 * date: 2017-09-07
 */

body {
  color: #333333;
  font-family: "Helvetica Neue", "Arial", "PingFang SC", "Microsoft Yahei", "SimSun", sans-serif;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
}

p {
  font-size: 16px;
  color: #666666;
}

a {
  text-decoration: none;
  color: inherit;
}

.everything {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin: 50px 0 20px 0;
}

.header h2 {
  font-size: 30px;
  font-weight: 500;
  color: #6B7386;
}

.main {
  width: 80%;
  margin: 0px 0 50px 0;
}

.list {
  background-color: #fff;
  padding: 20px 0 0 20px;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;
}

.item {
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  padding: 20px;
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, .1), 0px 1px 2px rgba(0, 0, 0, .05);
  display: block;
  width: calc(100% / 5 - 60px);
  margin: 0 20px 20px 0;
  transition: transform 100ms;
  .title {
    color: #2299ee;
    font-weight: bold;
    line-height: 30px;
    font-size: 0;
    padding: 5px 0;
    img {
      border-radius: 4px;
      display: inline-block;
      vertical-align: top;
      width: 40px;
      height: 40px;
      margin: 0 5px 0 0;
      margin-top: -5px;
    }
    .text {
      font-size: 14px;
      display: inline;
    }
  }
  .info {
    color: #666666;
    font-size: 12px;
    line-height: 20px;
    margin-top: 5px;
  }
  &:hover {
    box-shadow: 0 4px 20px 0 rgba(168, 182, 191, .6);
  }
}

.share {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
  background-color: #15aef0;
  width: 80%;
  margin: 0 0 50px 0;
  font-size: 40px;
  text-align: center;
  a {
    line-height: 200px;
  }
}

.qr-code-box {
  margin: 0 0 50px 0;
}

.qr-code {
  margin: 25px;
  float: right;
  width: 148px;
  height: 148px;
  background-size: 148px;
  background-image: url(../img/qr-code.png);
}

.footer {
  width: 80%;
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* 当设备像素比不小于1.5的时候... */

  .qr-code {
    background-size: 148px;
    background-image: url(../img/qr-code@2x.png);
  }

}

@media (max-width: 1600px) {
  .item {
    width: calc(100% / 4 - 60px);
  }
}

/* Minimum width */
@media (max-width: 1200px) {
  .main,
  .share,
  .footer {
    width: 90%;
  }
  .item {
    width: calc(100% / 3 - 60px);
  }
}

@media (max-width: 800px) {
  .item {
    width: calc(100% / 2 - 60px);
  }
}

@media (max-width: 500px) {
  .main,
  .share,
  .footer {
    width: 100%;
  }
  .item {
    width: calc(100% / 1 - 60px);
  }
}

.header .logo-bg {
  transform: rotate(75deg) translate3d(0, 0, 0);
  background-image: linear-gradient(#2DC8F3 0, #1497E2 70%);
  border-radius: 6px;
  position: absolute;
  left: -150px;
  top: -180px;
  width: 350px;
  height: 350px;
  z-index: 0;
}

.logo-i {
  color: #ff5301;
  font-size: 30px;
  font-weight: 700;
}
